@keyframes scroll-rtl {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee {
    animation: scroll-rtl 40s linear infinite;
    width: fit-content;
}

.marquee:hover {
    animation-play-state: paused;
}